@media (min-width: 320px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }

  .login-header {
    width: 100%;
    text-align: center;
    margin: 0 0 1rem 0;
  }

  .login-header img {
    width: 70px;
  }

  .login-header h2 {
    font-weight: 500;
    font-size: 25px;
  }

  .Login-form {
    width: 100%;
    height: 250px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.192);
  }

  .Login-form label {
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0.2rem 0;
  }

  .Login-form input {
    outline: 0;
    border: none;
    margin: 0.2rem 0;
    border-bottom: 1px solid #000;
  }

  .Login-form input::placeholder {
    font-size: 10px;
  }

  .Login-form button {
    border: none;
    width: 200px;
    color: #ffff;
    padding: 0.3rem;
    font-size: 12px;
    font-weight: 500;
    background: #06a39b;
    border-radius: 5px;
    margin: 1rem auto;
    transition: all 0.3s all;
  }

  .Login-form button:hover {
    background: #027c74;
  }
}

@media (min-width: 768px) {
  .Login-form {
    width: 50%;
  }

  .Login-form label {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 0.2rem 0;
  }
}

@media (min-width: 1024px) {
  .Login-form {
    width: 40%;
  }
}

@media (min-width: 1440px) {
  .Login-form {
    width: 30%;
  }
}
